html, body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #f4f4f4;
}

h1, h2, h3 {
	margin: 0px;
	display: block;
}

/* 
	MAQUETACION
*/

header{
	width: 100%;
	display: block;
	height: 80px;
	background-color: #333;
}

.logo{
	height: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.columnas{
	width: 100%;
	height: 100%;
	display: block;
}

#menu{
	width: 20%;
	min-width: 100px;
	height: 100%;
	display: block;
	float: left;
}

#contenido{
	width: 80%;
	float: left;
	height: 100%;
	display: block;
}

footer{
	height: 50px;
	width: 100%;
	background-color: #333;
	display: block;
}

/* 
	MENU 
*/
#menu ul {
	list-style: none;
	text-align: left;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu ul li a{
	padding: 10px;
	display: block;
	border-bottom: 1px solid #333;
}

#menu ul li a:hover{
	background-color: #6fa414;
}

/* sub menu */
#menu ul li ul{
	display: none;
}

#menu ul li ul li{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu ul li ul li:hover{
	background-color: #6fa414;
}

/* menu seleccionado */
.seleccionada{
	background-color: #a1ca4a;
	color: #fff;
}

.seleccionada a{
	box-shadow: 0px 0px 5px #333;
}

.seleccionada a:hover{
	background-color: #a1ca4a !important;
}

/* contenido */


/* clientes */
#muestraClientes, #muestraProyectos, #muestraCategorias{
	padding: 20px;
}

#muestraClientes .datos input{
	disabled: disabled;
}

/* categorias */
#muestraCategorias input, #muestraCategorias select{
	margin-bottom: 15px;
}


/* EDICION DE CATEGORIAS */
.noEditar input{
	display: none;
}

.noEditar select{
	display: inline-block;
}

.noEditar button:last-child{
	display: none;
}

.noEditar .nuevo{
	display: inline-block !important;
}

.noEditar .agregar{
	display: none;
}

.editar input{
	display: inline-block;
}

.editar select{
	display: none;
}

.editar button:last-child{
	display: inline-block;
}

.editar .agregar{
	display: inline-block;
}
