html, body{
	margin: 0;
	height: 100%;
	width: 100%;
}

h1, h2, h3 {
	margin: 0px;
	display: block;
}

/* 
	MAQUETACION
*/

header{
	width: 100%;
	display: block;
	height: 80px;
	background-color: #333;
}

.logo{
	height: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.columnas{
	width: 100%;
	height: 100%;
	display: block;
}

#menu{
	width: 20%;
	min-width: 100px;
	height: 100%;
	display: block;
	float: left;
}

#contenido{
	width: 80%;
	float: left;
	height: 100%;
	display: block;
}

footer{
	height: 50px;
	width: 100%;
	background-color: #333;
	display: block;
}

/* 
	MENU 
*/
#menu ul {
	list-style: none;
	text-align: left;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu ul li a{
	padding: 10px;
	display: block;
	border-bottom: 1px solid #333;
}

#menu ul li a:hover{
	background-color: #d99e16;
}

/* sub menu */
#menu ul li ul{
	display: none;
}

#menu ul li ul li{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu ul li ul li:hover{
	background-color: #d99e16;
}

/* menu seleccionado */
.seleccionada{
	background-color: #797674;
	color: #fff;
}

.seleccionada a{
	box-shadow: 0px 0px 5px #333;
}

.seleccionada a:hover{
	background-color: #797674 !important;
}

/* contenido */


/* clientes */
#muestraClientes, #muestraProyectos{
	padding: 20px;
}

#muestraClientes .datos input{
	disabled: disabled;
}