#formulario{
	display: block;
	width: 70%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#formulario hr{
	display: inline-block;
	width: 20%;
}

#formulario h1{
	display: inline-block;
}

.contenedor{
	display: block;
	width: 100%;
}

.contenedor .left{
	display: inline-block;
	width: 33%;
}

#formulario .contenedor .right{
	display: inline-block;
	width: 66%;
}

.contenedor .right .categoria, .contenedor .right .sub-categoria{
	display: inline-block;
	float: left;
	width: 50%;
}

.contenedor .bottom {
	width: 100%;
	display: block;
	text-align: center;
}

.input[type="texarea"]{
	width: 70%;
}

textarea {
	width: 70%;
	height: 70px;
}